body{
    background-color: rgb(233, 205, 247);
}

h1{
    text-align: center;
    font-weight: bolder;
}
#firstHeader{
    
    color: darkred;
    font-size: xx-large;
}
#secondHeader{
    
    color: darkslateblue;
    font-size: xx-large;
}
ul li{
    display: inline-block;
    margin: 20px;
}
ul li a{
    text-decoration: none;
    color: rgb(121, 60, 3);
    font-size: large;
}
.topicsName{
    color: maroon;

}
#ASAC{
    color: black;
    font-size: x-large;
}

h4{
    color: darkblue;
    font-size: x-large;
}

ol{
    color: darkgreen;
    list-style-type: decimal;
    list-style-position: inside;
    margin-left: 70px;
}